* {
    background-color: bisque;
    color: black;
}

.back.title {
    background-color: bisque;
    color: black;
}

.title {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.para {
    font-weight: 400;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}